<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WearTube"
        android:supportsRtl="false"
        android:name=".presentation.Application"
        android:theme="@style/MainTheme">
        <uses-library android:name="com.google.android.wearable" android:required="true" />
        <meta-data android:name="com.google.android.wearable.standalone" android:value="true" />
        <activity
            android:name=".presentation.Main"
            android:exported="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.Search"
            android:exported="true"
            android:taskAffinity="">
        </activity>
        <activity
            android:name=".presentation.Player"
            android:exported="true"
            android:taskAffinity="">
        </activity>
        <service
            android:name=".presentation.PlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>